name: Iac CI/CD Pipeline

on:
    push:
        branches:
            - main
        paths:
            - 's3-cdn-modules/**'

jobs:
    terraform:
        runs-on: ubuntu-latest
        environment: production

        steps:
            - name: Checkout code
              uses: actions/checkout@v2

            - name: Set up Terraform
              uses: hashicorp/setup-terraform@v1
              with:
                  terraform_version: 1.5.0

            - name: Configure AWS credentials
              uses: aws-actions/configure-aws-credentials@v1
              with:
                  aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
                  aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
                  aws-region: ap-south-2

            - name: Initialize Terraform
              run: terraform -chdir=s3-cdn-modules init

            - name: Validate Terraform configuration
              run: terraform -chdir=s3-cdn-modules validate

            - name: Plan Terraform changes
              run: terraform -chdir=s3-cdn-modules plan -out=tfplan

            - name: Apply Terraform changes
              if: github.ref == 'refs/heads/main'
              run: terraform -chdir=s3-cdn-modules apply -auto-approve tfplan